body {
  background: #040301;
}
a {
  color: #f3f3f0;
  transition: color 0.10s;
}
a:visited {
  color: #c9c4c0;
}
a:hover {
  color: #f8f8f3;
}
td {
  padding: 0.25em 1em;
}
html, button, input, select, textarea, .pure-g, .pure-g [class *= "pure-u"] {
  color: #f3f3f0;
  font-family: "PT Mono", "Courier", monospace;
  letter-spacing: 0;
}
.frontpageLogo {
  padding-top: 1em;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.romGrid {
  display: flex;
}
.gridRom {
  transition: all 0.15s;
  box-sizing: border-box;
  padding: 0 1em;
  margin: 0;
  display: block;
}
.gridRom:hover {
  background: #232020;
  color: #f8f8f3;
}
.gridRom h2 {
  margin: 0.75em 0 0 0;
}
.unstyledLink {
  text-decoration: none;
}
.pure-menu-link:hover, .pure-menu-link.current {
  background: #434040;
}
main { padding: 0 1em 1em 1em; }