---
layout: default
title: ROMs - NES Open DB
---

{% assign roms = site.data.roms_index | sort: 'added' | reverse %}

<div class="pure-u-1">
    <main>
      <h1>Latest ROMs in the database</h1>
      <div class="pure-g" class="romGrid">
        {% for rom in roms %}
          <a href="{{ rom.detailsLink }}" class="unstyledLink gridRom pure-u-sm-1-1 pure-u-md-1-2 pure-u-lg-1-3">
            <article>
              <h2>{{ rom.title }}</h2>
              <p>
                by
                {% if rom.authors.size == 1 %}
                  {% assign soleauthor = rom.authors[0] %}
                  {% assign soleauthor_profile = site.data.authors_index[soleauthor.key] %}
                  {{ soleauthor_profile.name }}
                {% else %}
                  {% for author in rom.authors %}
                    {% assign author_profile = site.data.authors_index[author.key] %}
                    {%- unless forloop.first %}, {% endunless %}{{ author_profile.name }}
                  {% endfor %}
                {% endif %}
              </p>
              <p><small>Tags: {{ rom.tags | join:", " }}</small></p>
              <p><img src="{{ rom.screenshots[0] }}" style="display: block; width: 100%"></img></p>
            </article>
          </a>
          {% endfor %}
        </div>
      </tbody>
    </table>
    <ul>
    </ul>
    <p><a href="/submit">Submit your own homebrew!</a></p>

    </main>
</div>
