<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      a {
        color: #fff;
      }
      a:visited {
        color: #888;
      }
      td {
        padding: 0.25em 1em;
      }
      html, button, input, select, textarea, .pure-g, .pure-g [class *= "pure-u"] {
        background: #000;
        color: #fff;
        font-family: "PT Mono", "Courier", monospace;
      }
      .frontpageLogo {
        padding-top: 1em;
      }
    </style>
    <link rel="shortcut icon" type="image/png" href="/logo.png"/>
  </head>
  <body>
    <main class="pure-g">
      {{ content }}
    </main>
  </body>
</html>