---
layout: default
---

{% assign rom = page %}
<div class="pure-u-1">
  <main>
    <p><a href="/roms">&lt; Back to ROMs</a></p>

    <h1>{{ rom.title }}</h1>

    {% if rom.authors %}
      {% if rom.authors.size == 1 %}
        {% assign soleauthor = rom.authors[0] %}
        {% assign soleauthor_profile = site.data.authors_index[soleauthor.key] %}

        <p>
          by {{ soleauthor_profile.name }}
          {% if soleauthor_profile.links %}
          |{% for link in soleauthor_profile.links %} <a href="{{ link.url }}">{{ link.site }}</a>{% endfor %}
          {% endif %}
        </p>
      {% else %}
        <p>by
        {% for author in rom.authors %}
          {%- assign author_profile = site.data.authors_index[author.key] %}
          {%- unless forloop.first %}, {% endunless %}{{ author_profile.name }}
        {%- endfor %}
        </p>
      {% endif %}
    {% endif %}
    {% if rom.authorString %}
      <p>by {{rom.authorString}}</p>
    {% endif %}

    <table class="pure-table">
      <tr>
        <th>Released</th>
        {% assign releasedate_fields = rom.released | split:"-" | size %}
        <td>{% if releasedate_fields == 3 %}{{ rom.released | date: "%b %-d, %Y" }}{% else %}{{ rom.released }}{% endif %}</td>
      </tr>
      <th>Players</th>
      <td>
        {% if rom.minPlayers == rom.maxPlayers %}{{rom.minPlayers}}{% else %}{{rom.minPlayers}}-{{rom.maxPlayers}}{% endif %}
      </td>
      <tr>
        <th>Tags</th>
        <td>{{rom.tags | join:", "}}</td>
      </tr>
      <tr>
        <th>License</th>
        <td><a href="{{ rom.licenseLink }}">{{ rom.license }}</a></td>
      </tr>
    </table>

    <p>
      <a href="{{ rom.romLink }}" class="pure-button pure-button-secondary">Download ROM</a>
      {% if site.data.roms_sha1sums[rom.key] %}<small>(sha-1: {{site.data.roms_sha1sums[rom.key]}})</small>{% endif %}
    </p>

    {% if rom.sourceCodeLink %}
    <p><a href="{{ rom.sourceCodeLink }}" class="pure-button pure-button-secondary">Download source code</a> <small>(.zip)</small></p>
    {% endif %}

    {% if rom.runsOnJSNES %}<p><a href="/play/{{rom.key}}" class="pure-button pure-button-primary">Play now</a></p>{% endif %}

    {% if rom.description %}
    <h2>Description</h2>

    {{ rom.description | escape | markdownify }}

    {% endif %}

    {% if rom.screenshots %}
    <h2>Screenshots</h2>
    <div>
      {% for ss in rom.screenshots %}
        <a href="{{ss}}"><img src="{{ss}}" width="400" /></a>
      {% endfor %}
    </div>
    {% endif %}
  </main>
</div>
